body {
  margin: 0;
  background-color: #2a2a2f;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body a {
  outline: none;
}

.loading {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 6%;
  height: 1%;
  padding: 18px 15px 15px 15px;
  left: 47%;
  top: 45%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 3px;
}

.lightbox {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.header {
  position: fixed;
  z-index: 998;
  width: 100%;
  color: #2a2a2f;
}

.header a.home {
  color: #2a2a2f;
  text-decoration: none;
}
.header a.home:hover {
  border-bottom: 2px solid #2a2a2f;
}

.header .inner {
  background-color: #ccc;
  padding: 10px 0;
  margin-bottom: 7px;
}
.header .line {
  height: 7px;
  background-color: #ccc;
}

.header .title {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 65px;
  font-family: 'Satisfy', cursive;
  font-style: italic;
}
.header .title a {
  color: initial;
  text-decoration: none;
}
.header .title a:hover {
  text-decoration: underline;
}

.header .controls {
  margin: 0 auto;
  font-size: 20px;
}

.header .controls a {
  display: inline-block;
  margin: 0 10px;
  color: #2a2a2f;
  text-decoration: none;
}
.header .controls a:hover {
  color: #999;
}

.header.mini {
  height: 25px;
}
.header.mini .inner {
  padding: 0;
  margin-bottom: 4px;
  padding-left: 20px;
  height: 45px;
}
.header.mini .line {
  height: 4px;
}
.header.mini .title {
  font-size: 25px;
  padding: 3px 0;
  display: inline-block;
  float: left;
}
.header.mini .controls {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  float: right;
  padding: 12px 0;
  margin-right: 20px;
}

.content {
  padding: 40px 0;
  min-height: 50px;
}

.content a.up {
  display: none;
  position: fixed;
  z-index: 997;
  top: 65px;
  left: 27px;
  background-color: rgba(255,255,255,0.2);
  padding: 6px;
  width: 75px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
.content a.up:hover {
  border: 1px solid rgba(255,255,255,0.4);
}

.content > .inner {
  width: 95%;
  margin: 0 auto;
  line-height: 0;
}

.content .photo {
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.content .photo img {
  cursor: pointer;
}

.content .photo.post {
  margin: 0 auto;
  width: 55%;
  padding-top: 10px;
  margin-bottom: 50px;
}

.content .photo.post img {
  max-width: 100%;
  max-height: 90vh;
  background-color: #ccc;
  padding: 2px;
}

.content .photo.wall {
  display: inline-block;
  position: relative;
  margin-right: -3px;
  margin-bottom: 3px;
  height: 280px;
  width: auto;
}
.content .photo.post .details {
  position: relative;
  font-size: 16px;
  text-align: left;
  padding: 9px;
}
.content .photo.post .details > div {
  margin-right: 10px;
  display: inline-block;
}
.content .photo.post .details .title {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.content .photo.post .details .date {
  color: #9c9c9c;
  font-size: 15px;
}
.content .photo.wall .details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 0 auto;
  margin: 10px;
  line-height: 1;
  font-size: 18px;
  color: white;
  text-align: center;
}
.content .photo.wall .title {
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
}
.content .photo.wall .title.over {
  opacity: 1;
}
.content .photo.wall img {
  background-color: #ccc;
  padding: 2px;
  width: auto;
  height: 100%;
  cursor: pointer;
}

.content .photo.enlarge img.thumb {
  display: none;
}

.content .album {
  width: 200px;
  height: 175px;
  line-height: 1;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #ccc;
  overflow: hidden;
  padding: 2px;
  cursor: pointer;
}
@keyframes shake-keyframes {
  50% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
.content .album:hover {
  animation: shake-keyframes 0.3s;
}
.content .album .thumb {
  height: 100%;
  background-color: black;
  background-size: cover;
  margin-bottom: 5px;
}
.content .album .title {
  font-size: 17px;
  margin-bottom: 5px;
  display: table;
  width: 100%;
  height: 50px;
  position: relative;
  top: -55px;
  color: white;
  background-color: rgba(0,0,0,0.6);
}
.content .album .title .inner {
  vertical-align: middle;
  display: table-cell;
}


.content .album .date {
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #2a2a2f;
  font-size: 90%;
}

.footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.footer .line {
  height: 7px;
  margin-bottom: 7px;
  background-color: #ccc;
}

.footer .inner {
  background-color: #ccc;
  padding: 10px 0;
}

@media(max-width:750px) {
  .content a.up {
    padding: 10px;
    top: 17px;
    left: 15px;
  }
  .content .photo.post {
    width: 95%;
  }
  .header .title {
    font-size: 40px;
  }
  .header .inner {
    padding: 20px;
  }
  .header .controls {
    display: none;
  }
  .content .photo.post {
    margin-bottom: 30px;
  }
  .content .photo.post .details {
    text-align: center;
  }
}
